In [1]:
#Data.csv

**Step 1: Importing the libraries**

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

**Step 2: Importing dataset**

In [3]:
dataset=pd.read_csv('Data.csv')

**Step 3: Handling the missing data**

In [4]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [5]:
dataset.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [6]:
Sal=round((dataset['Salary'].mean()),0)
Ag=round((dataset['Age'].mean()),0)

In [7]:
dataset['Age'].fillna(Ag,inplace=True)
dataset['Salary'].fillna(Sal,inplace=True)
dataset.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [8]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  63778.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  39.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 4: Encoding categorical data**

In [9]:
dataset['Purchased']=dataset['Purchased'].map({'Yes':1,'No':0})
dataset

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0  63778.0          1
5   France  35.0  58000.0          1
6    Spain  39.0  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

In [10]:
dataset['Country'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

**Step 5: Creating a dummy variable**

In [11]:
dataset1 = pd.DataFrame({'Country': dataset['Country'].values},)
dataset2=pd.get_dummies(dataset1)
df = pd.concat([dataset, dataset2], axis=1)
df

,Country,Age,Salary,Purchased,Country_France,Country_Germany,Country_Spain
0,France,44.0,72000.0,0,1,0,0
1,Spain,27.0,48000.0,1,0,0,1
2,Germany,30.0,54000.0,0,0,1,0
3,Spain,38.0,61000.0,0,0,0,1
4,Germany,40.0,63778.0,1,0,1,0
5,France,35.0,58000.0,1,1,0,0
6,Spain,39.0,52000.0,0,0,0,1
7,France,48.0,79000.0,1,1,0,0
8,Germany,50.0,83000.0,0,0,1,0
9,France,37.0,67000.0,1,1,0,0

**Step 6: Splitting the datasets into training sets and Test sets**

In [12]:
x=df[['Age','Salary','Country_France','Country_Germany','Country_Spain']].values
y=df['Purchased'].values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

**Step 7: Feature Scaling**

In [14]:
scaler=StandardScaler()
scaler.fit(x_train,y_train)
x_train_scaled=scaler.transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [15]:
x_train_scaled.shape

(7, 5)

In [17]:
x_test_scaled.shape

(3, 5)

In [18]:
y_train.shape

(7,)

In [19]:
y_test.shape

(3,)